body{
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
body .playlist{
  height: 20vh;
  border: 1px solid black;
  display: none
}

body .content{
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

body .content .query{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
}


.content .card{
  height: 40%;
  width: 19%;
}

.content .card .artwork{
  width: 100%;
  height: 80%
}
